USE [PS]
GO
/****** Object:  StoredProcedure [dbo].[ChkKwds]    Script Date: 2/1/2023 12:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ChkKwds]
as

-- this is a placeholder to check for keywords in player names
GO
